@mixin border-radius ($radii) {
  -webkit-border-radius: $radii;
     -moz-border-radius: $radii;
      -ms-border-radius: $radii;
       -o-border-radius: $radii;
          border-radius: $radii;
          behavior: url('https://meducation-assets.s3.amazonaws.com/assets/border-radius.htc');
}
